// Specific CSS for your home-page
body {
  background-color: rgba(255, 249, 251, 0.5);
}

a {
  color: #C63D31;
  text-decoration: underline;
  &:hover {
    color: #480E0E;
  }
}

h5 {
  color: #C63D31;
}

.jumbotron {
  padding: 32px 32px;
  background-color: rgba(200, 60, 43, 0.15);
  border-radius: 5px;
}

.info-img {
  align-self: flex-start;
  max-width: 180px;
  @media (max-width: 768px) {
    display: none;
  }
}
