.banner-div {
  min-width: 33%;
  max-width: 33%;
  @media (max-width: 768px) {
    display: none;
  }
}
.banner-img {
  width: 100%;
  max-width: 500px;
  @media (max-width: 768px) {
    display: none;
  }
}