.card-helpers {

  .card-helper {
    position: relative;

    div:after {
      content: "";
      background: black;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
    }
  }

  .card-helpers-name {
    width: 100%;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .card-helpers-name-p {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .card-helpers-icon {
    max-height: 30px;
    @media (max-width: 768px) {
      max-height: 20px;
    }
  }

  .card-helpers-num-p {
    width: 100%;
    color: #C63D31;
    text-decoration: underline;
  }

}