.card-helpers {
  .card-helper {
    border-bottom: black 1px solid;
  }

  .card-helpers-info {
    width: 50%;
  }

  .card-helpers-num {
    width: 50%;
  }

  .card-helpers-icon {
    max-height: 30px;
  }

  .card-helpers-num-p {
    width: 100%;
    color: #C63D31;
    text-decoration: underline;
  }

}