.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 210px;
  margin-left: 20px;
}

.navbar-nav .mr-auto {
  margin-right: 25px;
}

.navbar-light .navbar-nav .nav-link {
  color: #C63D31;
  text-decoration: underline;
  padding-left: 20px;
  &:hover {
    color: #480E0E;
  }
}

.navbar-toggler {
  border: 0px solid transparent !important;
}
