.form-inline {
  width: 70%;
  label {
    display: none;
  }
  .form-group {
    width: 80%;
  }
  .form-control {
    width: 100%;
  }
  .btn {
    width: 20%;
    background-color: #C63D31;
    border-color: #C63D31;
  }
  input:focus {
   outline:none;
  }
}